/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: rgb(46, 48, 50);
}

/* 2. Content ================================= */

.headbar{
	width: 100vw;
	height: 7%;
	padding: 0em 4.2%;
	background: linear-gradient(-45deg, #eee, #fff);
	background-size: 400% 400%;
	animation: infiniteGradient 66.6s infinite both linear;
	border-bottom: .42em gold solid;
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 2;

	.headbar_heading{
		font-size: 42px;
		text-transform: capitalize;
		color: #eee;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		
		.headbar_heading-span{
			font-size: .3em;
			position: relative;
			top: 25%;
			left: -55%;
			text-transform: none;
		}
	}

	.headbar_burger{
		width: 10%;
		display: flex;

		.burger_label{
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			gap: 13%;
			cursor: pointer;

			div{
				width: 45px;
				height: 10px;
				background: linear-gradient(75deg, #000, #000, purple);
				background-size: 400% 400%;
				animation: infiniteGradient 66.6s infinite both linear;
				border: 2px #000 solid;
				transform: none;
				transition: transform 420ms linear;
				border-radius: 36%;
				transform-origin: 20% 50%;
			}
		}
	}
	.burger_nav{
		position: absolute;
		top: -19.9%;
		right: 0%;
		display: none;
		transform: translateY(0%);
		background: linear-gradient(75deg, #eee, #999);
		background-size: 400% 400%;
		animation: infiniteGradient 66.6s infinite both linear;
		transition: transform 420ms ease-in-out;
		z-index: 2;

		ul{
			width: max-content;
			display: flex;
			flex-direction: column;
			column-gap: 1%;
			
			li{
				width: max-content;
				height: max-content;
				margin: 1em 0em;
				text-align: center;

				a{
					text-decoration: none;
					text-transform: capitalize;
					padding: 1em 2em;
					color: #000;
				}

				a:hover{
					background: linear-gradient(-45deg, gold, goldenrod);
					background-size: 400% 400%;
					animation: infiniteGradient 66.6s infinite both linear;
					color: #eee;
					text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
				}
			}
		}
	}

	input[type=checkbox]:checked + label {
		.topbun{
			transform: rotateZ(45deg);
		}
		.bottombun{
			transform: rotateZ(-45deg);
		}
		.burger_nav{
			display: block;
			transform:translateY(40%);
			transition: transform 420ms ease-in-out 42ms;
		}
	} 
}

.hero_landing{
	width: 100%;
	height: 60%;
	background: linear-gradient(-45deg, #333, #000, #666);
	background-size: 400% 400%;
	animation: infiniteGradient 13s ease both infinite;
	display: grid;
	grid-template-columns: repeat(12, 1fr);

	.van_build{
		grid-column: 1 / 8;
		
		.van_build-imgs{
			display: flex;
			width: 100%;
			height: 100%;
			
			img{
				width: 160%;
				position: relative;
				top: -100vh;
				display: none;
			}
			#active_build{
				top: 0%;
				margin-top: auto;
				display: block;
				left: -20%;
			}
		}
	}
	.packages{
		grid-column: 9 / 13;
		padding: 50% 0em;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.package_btns{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			overflow: hidden;

			.package{
				height: 30%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #8a7f83;
				border-left: .42em gold solid;
				overflow: hidden;
				transform: translate(95%);
				transition: transform 130ms linear;


				label{
					display: flex;
					justify-content: center;

					.package_img{
						width: 60%;
						height: 60%;
						border-radius: 100%;
						overflow: hidden;
						border: .42em #fff solid;
					}
				}
				.package_btn{
					display: none;
				}
			}

			.package:hover{
				transform: translate(0%);
				transition: transform 420ms linear;
			}

			#active_btn{
				border: .42em gold solid;
			}

		}
	}

}

.desc1, .desc3{
	background: linear-gradient(45deg, #000, rgba(100, 67, 102, 0.57), #000);
}
.desc1{
	display: flex;
	align-items: center;
	justify-content: center;
	.info_wheel-container{
		background: gold;
		width: 90%;
		height: 80%;
		border-radius: 100%;
		overflow: hidden;
		transform-origin: center;
		animation: rotateWheel infinite 2000ms linear;
		animation-play-state: paused;


		.info_wheel-bar{
			width: 98%;
			height: 100px;
			background: #eee;
			border: .13em #000 solid;
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;

			

		}
		.bar1{
			transform: rotate(30deg);
			transform: translate(-50% -50%);
			transform-origin: center;
			top: 39%;
			left: 1.42%;
			.bar2{
				transform: rotate(59deg);
			}
		}

	}
	.info_wheel-container:hover{
		animation-play-state: paused;
	}
}

.desc2{
	background: linear-gradient(-45deg, #eee, rgba(100, 67, 102, 0.57), #999);
}

.product_desc{
	width: 96.5vw;
	height: 60vh;
	background-size: 400% 400%;
	animation: infiniteGradient 13s ease both infinite;
	color: #eee;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}



.footer{
	width: 96.5vw;
	height: 7vh;
	background: linear-gradient(75deg, #eee, rgb(244, 198, 247), #eee);
	background-size: 400% 400%;
	animation: infiniteGradient 66.6s infinite both linear;
	border-top: .42em rgba(242, 59, 252, 0.433) solid;
	padding: 0em 10%;
	display: flex;
	justify-content: space-between;
}




@keyframes infiniteGradient{
	0% {
		background-position: 0% 50%;
	}
	25% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 0% 25%;
	}
	100%{
		background-position: 0% 50%;
	}
}

@keyframes rotateWheel{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}